
.p{
     
}
.card{border: 3px solid;
    border-color: grey;
    float: left;
    margin-left: 5%;
    margin-top: 2%;
    background-color:white;
   
}
.card-text{
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    
}


.card:hover {
    text-decoration: none;
    background-color:#5AED83;
    border: 4px solid;
    border-color: black;
    
}
.teste
{
    text-decoration: none;
}